.content {
  width: 1092px;
  height: 443px;
  overflow: hidden;
  margin: 0 auto;
  z-index: -1;
  top: 40%;
  left: 0;
  transition: 2s;
}

.content h5 {
  font-size: 32px;
    color: lightgreen;
}

.content p {
  /* float: left; */
  margin-top: 0;
  color: #101010;
  font-weight: 400;
}

.content1 h5 {
  font-family: Poppins;
  font-size: 32px;
  color: #101010;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 700px;
  margin-left: 83px;
}

.content1 p {
  /* float: left; */
  margin-top: 0;
  text-align: left;
  color: #101010;
  font-weight: 400;
}

.cursor {
  cursor: pointer;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

/* .overlay-2 {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #48A9A6;
} */

.overlay {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(img/terra_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.overlay p {
  font-size: 144px;
  font-weight: 550;
  background: #101010;
  height: 40%;
  /*271px;*/
  width: 100%;
  /*1360px;*/
  margin-top: 300px;
  position: fixed;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .overlay p {
    font-size: 144px;
    font-weight: 550;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .overlay p {
    font-size: 90px;
    font-weight: 280;
    word-spacing: 70px;
  }
}

.screen {
  color: #323232;
  font-family: Poppins;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span {
  color: #e02626;
  margin-left: 10%;
}

.myBtn {
  font-family: Poppins;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 40px;
}

button {
  display: block;
  padding: 24px 48px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 6px;
  color: #fff;
  border: 2px solid #fff;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  background: none;
  z-index: 1;
  transition: 0.8s ease-out;
}

.myBtn:hover {
  color: #101010;
}

.myBtn:before {
  content: "";
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.8s ease-out;
}

.myBtn:hover:before {
  top: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 150px;
  transition: 2s;
}

.card,
  {
  margin-top: -130px;
}

.card-head {
  text-align: center;
  position: relative;
  height: 194px;
  width: 264px;
  background: url(img/bk1.jpeg);
  border-radius: 25px 25px 0 0;
  display: block;
}

.card-logo {
  width: 80px;
  margin: 15px;
}

.product {
  height: 150px;
  width: 150px;
  margin-top: 110px;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 2px 4px 8px black;
  -webkit-transition: width .3s, height .3s, -webkit-transform .3s;
  /* For Safari 3.1 to 6.0 */
  transition: width .3s, height .3s, transform .3s;
}

.product:hover {
  width: 170px;
  height: 170px;
}

.product-properties {
  margin-top: 80px;
  text-align: center
}

.product-details {
  padding: 0 15px;
  font-size: 11px;
  color: #e02626;
}

.product-details h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
  margin-top: -3px;
}

.back-text {
  display: inline-flex;
  font-size: 42px;
  /*125px; */
  font-weight: 900;
  margin-left: -12px;
  margin-top: 3px;
  opacity: 0.1;
  color: #353535;
}

.card-body {
  height: 230px;
  width: 264px;
  background: #fff;
  border-radius: 0 0 25px 25px;
  background-color: #fff;
  border: 1px solid orangered;
}

.product-title {
  padding: 20px 5px 5px 5px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 17px;
}

.product-title b {
  font-weight: 900;
  letter-spacing: 0px;
}

.product-caption {
  display: block;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 2px;
}

.ul-size {
  margin-left: 15px;
}

.ul-size li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-size li a {
  display: inline-block;
  text-decoration: none;
  font-size: 11px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  text-align: center;
  line-height: 23px;
  color: #000;
}

.ul-size li a.active {
  background: #f35e3d;
  color: #fff;
}

.product-size:before,
.product-size:after {
  content: '';
  display: block;
  clear: both;
}

.product-color h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.ul-color {
  margin-left: 15px;
}

.ul-color li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-color li a {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.ul-color li a.orange {
  background: #f35e3d;
}

.ul-color li a.green {
  background: #11e95b;
}

.ul-color li a.black {
  background: #000;
}

.ul-color li a.active:after {
  position: absolute;
  content: '';
  display: inline-block;
  border: 1px solid #f35e3d;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-left: -5px;
  margin-top: -5px;
}

.product-price {
  position: absolute;
  text-align: center;
  display: flex;
  font-size: 26px;
  color: gray;
  margin-top: 80px;
  margin-left: 12%;
}

.product-striked-price {
  position: absolute;
  text-align: center;
  display: flex;
  font-size: 15px;
  font-weight: 150;
  color: gray;
  margin-top: 120px;
  margin-left: 14%;
  text-decoration: line-through;
}

.product-desc {
  position: absolute;
  text-align: center;
  display: flex;
  font-size: 15px;
  font-weight: 150;
  color: gray;
  margin-top: 152px;
  margin-left: 4%;
}

.addToCart {
  height: 35px;
  width: 100px;
  background-color: #cb3843;
  border-radius: 25px;
  font-family: arial;
  color: white;
  font-size: 11px;
  font-weight: bold;
  line-height: 35px;
  margin: auto;
  margin-top: -10px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.soon-text a:hover {
  background-color: transparent;
  color: white;
}

.soon-text a {
  color: white;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;
}

td {
  padding: 4px;
}

table {
  font-size: 12px;
  color: gray;
}

.table-title {
  width: 100px;
}

.table-description {
  width: 200px;
}

.coming_product{
  width:238px;
  height: 256px;
  border: 2px solid sliver;
  border-radius: 20px;
}
.coming_product:hover{
  opacity: 0.3;
  
}
.grid-container1{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 98px;
  transition: 2s;
  padding-left: 90px;
}

.footer {
  /* position: fixed; */
  padding: 30px;
  left: 0;
  bottom: 0;
  height: 27%;
  width: 100%;
  background-color: #cd2d2d;
  color: white;
  text-align: center;
}
.slider-content
{
  top: 39%;
  width: 100%;
  padding: 10px;
}
.icons .fa
{
  font-size: 35px;  
  margin-right: 7px;              
}
.social-network a.fa
{
    border: 1px solid white;
    padding: 10px;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin-right: 5px;
    transition: all 0.5s ease-in;
        
}

.social-network a.fa:hover
{
  text-decoration: none;
  background-color: deepskyblue;
  color: white;
  border: 1px solid deepskyblue;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  opacity: 0.3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.main-container h1{
  color: #cb3843;
}

.main-container{
  overflow: hidden;
}

.main-content {
  display: none;
}